@use 'variables' as v;

.header{
    &__main{
        position: sticky;
        top: 0;
        background-color: v.$Dark-Mode-Elements;
        z-index: 1;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.200);
        transition: background-color .5s ease-in-out;
    }

    &__contain{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding:30px 0px;
        width: 90%;
        font-size: 14px;
        font-family: v.$Font-family-nunito;

        &>h1{
            font-size: 1.4rem;
        }
    }

    &__darkmode{
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        &>h2{
            font-size: 0.95rem;
        }
    }

}